Repository Drakkar-Software/OctoBot-Tentacles, pull requests merged in 2019-04, with the labels that each got.

#44 Add stochasticRSI very simple evaluator
  Evaluator/TA/StochasticRSIVolatilityEvaluator.json
  Evaluator/TA/in_development_TA_evaluators.py
  Evaluator/TA/volatility_evaluator.py
Labels: TA evaluator

#48 reduced order quantity in daily trading mode and signal trading mode
  Trading/Mode/daily_trading_mode.py
  tentacles_list.json
  tests/Evaluator/Strategies/test_full_mixed_strategies_evaluator.py
  tests/Evaluator/Strategies/test_move_signals_strategy_evaluator.py
  tests/Evaluator/Strategies/test_simple_mixed_strategies_evaluator.py
  tests/Trading/Mode/test_daily_trading_mode_creator.py
Labels: trading mode

#52 Update daily trading mode
  Trading/Mode/daily_trading_mode.py
  tentacles_list.json
  tests/Evaluator/Strategies/test_full_mixed_strategies_evaluator.py
  tests/Evaluator/Strategies/test_move_signals_strategy_evaluator.py
  tests/Evaluator/Strategies/test_simple_mixed_strategies_evaluator.py
  tests/Trading/Mode/test_daily_trading_mode_creator.py
Labels: enhancement, trading mode

#53 Staggered orders update
  Trading/Mode/StaggeredOrdersTradingMode.json
  Trading/Mode/staggered_orders_trading_mode.py
  tentacles_list.json
  tests/Trading/Mode/test_staggered_orders_trading_mode.py
Labels: enhancement, trading mode

#54 #43 Added config help message
  Trading/Mode/staggered_orders_trading_mode.py
Labels: trading mode

#56 handle ref market in order quantity
  Trading/Mode/daily_trading_mode.py
  tentacles_list.json
  tests/Trading/Mode/test_daily_trading_mode_creator.py
Labels: trading mode
